footer{
	  background-color: #02b3e4;
	  display: inline-block;
	  padding: 1rem;
	  bottom: 0;
	  color: #fff;
	  position: absolute !important;
	.copyright{
		float:left;
		text-align: left;
	}
	.about{
		float:right;
		text-align:right;
	}
}